<h2>Vehicle Details</h2>

<div *ngIf="vehicle">
    <div>
        <label>id: </label>
        <div class="id">{{vehicle.vehicleId}}</div>
    </div>
    <div>
        <label>Brand: </label>
        <select name="model" class="vehicle-select" (change)="onChange($any($event.target).value)" [(ngModel)]="vehicle.brand">
            <option *ngFor="let brand of brands" [value]="brand.name">{{brand.name}}</option>
        </select>
    </div>
    <div>
        <label>Model: </label>
        <select id="sel1" class="vehicle-select" name="brand" [(ngModel)]="vehicle.model">
            <option *ngFor="let model of models" [value]="model">{{model}}</option>
        </select>
    </div>

    <div>
        <label>Model Year: </label>
        <input [(ngModel)]="vehicle.modelYear" placeholder="model year"/>
    </div>
    <div>
        <label>VIN: </label>
        <input [(ngModel)]="vehicle.vin" placeholder="vin"/>
    </div>
    <div>
        <label>price: </label>
        <input [(ngModel)]="vehicle.price" placeholder="price"/>
    </div>
    <button class="button" type="button" (click)="goBack()">Back</button>
    <button class="button" type="submit" (click)="save()">Save</button>
</div>